@media (min-width: 768px) {
    html {

    }

    body {
        font-family: B Koodak;
        font-size: 22px;
    }

    .row
    {
        margin:0px;
    }
    .img-porgress
    {
        /*padding: 5% 10%;*/
    }

    #step1
    {
        background-image: url("../images/step1_pattern.png");
    }

    #frame_and_logo
    {
        position: fixed;
        top:0px;
        left:10px;
    }

.has-success .form-control
{
    border-color: #00c600;
    color: #00c600;
    border-width: 2px;
}

.has-error .form-control
{
    border-color: #c60000;
    color: #c60000;
    border-width: 2px;
}

.center_text
{
    text-align: center;
}

    .pos
    {
        height:25%;
    }

    .pos2
    {
        height:25%;
    }

    .period
    {
        font-size: 30px;
        width: 10px;
    }

.yes_or_no
{
    /*position: absolute;
    top: 3px;
    left: 50px;*/
    width: 50px;
    height: 50px;
    background-image: url("../images/accept-and-reject.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.yes
{
    background-position: -50px 0px;
}

.no
{
    background-position: -100px 0px;
}

    #submitDomain
    {
        margin-top: 30px;
    }

    .btn-gold
    {
        height: 30px;
        /*padding-top: 5px;*/
        color: #fff;
        background-color: #caba31;
        width: 50%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;

.btn-gold:hover
{
    background-color: #998926;
    height: 30px;
}

.btn-green
{
    color: #fff;
    background-color: #1d9720;
    font-family: tahoma;
    font-size: 18px;
}

.nav
{
    background-image: url("../images/nav_pattern.png");
    height: 70px;
    direction: rtl;
}

.nav ul
{
    float: right;
    text-align: right;
}

.nav li {
    font-family: tahoma;
}

.nav-pills>li>a, .nav-pills>li>a:focus
{
    color: #ffffff;
    height: 70px;
    padding-top: 25px;

}

.nav-pills>li>a:hover
{
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
    color: #caba31;
    background-color: #000;
    height: 30px;
    padding-top: 5px;
    margin-top: 10px;
}
